@charset "UTF-8";
/* Переменные и миксины */
/* Общие стили */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 122rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  color: #AE7C78;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #AE7C78;
  text-decoration: none;
  transition: .3s;
}

a:hover, a:focus, a:active {
  color: #d1574c;
}

.content-container {
  margin: 0 auto;
  width: 120rem;
  padding: 0 1rem;
}

.heading {
  font-family: "Playfair Display", "Times New Roman", serif;
  transition: .3s;
  letter-spacing: 0.02em;
  margin-top: 0;
}

.heading:hover {
  color: #d1574c;
}

.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  color: #ffffff;
  padding: 3rem 7rem;
  background: linear-gradient(90deg, rgba(174, 124, 120, 0.5) 0%, rgba(209, 87, 76, 0.7) 100%);
  border: none;
  appearance: none;
  vertical-align: middle;
  border-radius: 4rem;
  box-shadow: 2px 2px 9px 2px rgba(167, 167, 167, 0.6);
}

.button:hover, .button:active {
  opacity: 0.7;
  color: #ffffff;
}

.button:focus {
  color: #ffffff;
}

.button:active {
  background-color: #d1574c;
}

/* Стили для header */
.page-header {
  margin-bottom: 7rem;
  margin-top: 2.5rem;
  padding: 2.2rem 0 2.1rem;
  border-top: 1px solid #d1574c;
  border-bottom: 1px solid #d1574c;
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-link {
  padding: 1rem;
  border: none;
  transition: all .3s ease;
  position: relative;
  z-index: 1;
  padding: 1rem;
}

.item-link::after {
  content: "";
  background: linear-gradient(90deg, rgba(174, 124, 120, 0.5) 0%, rgba(209, 87, 76, 0.7) 100%);
  opacity: 0.4;
  border-radius: 10rem;
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.7s ease;
}

.item-link:hover::after {
  z-index: -1;
  transform: scaleX(1);
  transform-origin: center 50%;
}

.list-item:nth-child(6n + 3) {
  margin-right: 9.5rem;
}

/* Стили для promo */
.promo .content-container {
  display: flex;
}

.promo {
  margin-bottom: 7rem;
}

.promo-block {
  max-width: 38.4rem;
  margin-right: 2.3rem;
}

.promo-heading {
  font-size: 4.1rem;
  font-weight: 400;
  line-height: 5.9rem;
  margin: 0 0 2.4rem 0;
}

.promo-heading span {
  font-style: italic;
}

.promo-text {
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 6.4rem;
}

.promo-image {
  height: 100%;
  display: block;
  border-radius: 1rem;
  box-shadow: 2px 2px 9px 2px rgba(167, 167, 167, 0.6);
  transition: .3s;
}

.promo-image:nth-of-type(1) {
  margin: 6rem 2rem 0 0;
}

.promo-image:hover {
  filter: brightness(1.1) saturate(110%);
}

.promo-button {
  transition: all 350ms ease;
  position: relative;
}

.promo-button::before {
  content: '';
  position: absolute;
  border-radius: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.promo-button:hover::before {
  animation: sonar-effect .8s ease-out 75ms;
}

@keyframes sonar-effect {
  0% {
    opacity: .3;
  }
  40% {
    opacity: .5;
    box-shadow: 0 0 0 2px rgba(174, 124, 120, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(174, 124, 120, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(174, 124, 120, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(174, 124, 120, 0.5);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0;
  }
}

/* Стили для advantages */
.advantages {
  margin-bottom: 7rem;
}

.advantages-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 36px;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4%;
}

.advantages-item {
  display: flex;
  align-items: flex-start;
}

.advantages-item:hover .advantages-image {
  transform: scale(1.1);
}

.advantages-image {
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4.5rem;
  margin-right: 2rem;
  transition: .3s;
}

.advantages__block-heading {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: .8rem;
}
