@charset "UTF-8";
/* Переменные и миксины */
/* Общие стили */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 122rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  color: #AE7C78;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #AE7C78;
  text-decoration: none;
  transition: .3s ease-in-out;
}

a:hover, a:focus, a:active {
  color: #d1574c;
}

.content-container {
  margin: 0 auto;
  width: 120rem;
  padding: 0 1rem;
}

.content-container-small {
  margin: 0 auto;
  width: 80.5rem;
}

.heading {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4.8rem;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0;
}

.animated-heading {
  transition: .5s ease-in-out;
  letter-spacing: 0.02em;
}

.animated-heading:hover {
  color: #d1574c;
}

.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  color: #ffffff;
  padding: 3rem 7rem;
  background: linear-gradient(90deg, rgba(174, 124, 120, 0.5) 0%, rgba(209, 87, 76, 0.7) 100%);
  border: none;
  appearance: none;
  vertical-align: middle;
  border-radius: 10rem 0;
  box-shadow: 2px 2px 9px 2px rgba(167, 167, 167, 0.6);
}

.button:hover, .button:active {
  opacity: 0.7;
  color: #ffffff;
}

.button:focus {
  color: #ffffff;
}

.button:active {
  background-color: #d1574c;
}

.animated-button {
  transition: all 350ms ease;
  position: relative;
}

.animated-button::before {
  content: '';
  position: absolute;
  border-radius: 10rem 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animated-button:hover::before {
  animation: sonar-effect .8s ease-out 75ms;
}

@keyframes sonar-effect {
  0% {
    opacity: .3;
  }
  40% {
    opacity: .5;
    box-shadow: 0 0 0 2px rgba(174, 124, 120, 0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(174, 124, 120, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(174, 124, 120, 0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(174, 124, 120, 0.5);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0;
  }
}

/* Стили для header */
.page-header {
  margin-bottom: 7rem;
  margin-top: 2.5rem;
  padding: 2.2rem 0 2.1rem;
  border-top: 1px solid #d1574c;
  border-bottom: 1px solid #d1574c;
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-link {
  padding: 1rem;
  border: none;
  transition: all .3s ease 0s;
  position: relative;
  z-index: 1;
  padding: 1rem;
}

.item-link::after {
  content: "";
  background: linear-gradient(90deg, rgba(174, 124, 120, 0.5) 0%, rgba(209, 87, 76, 0.7) 100%);
  opacity: 0.4;
  border-radius: 5rem 0;
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.7s ease;
}

.item-link:hover::after {
  z-index: -1;
  transform: scaleX(1);
  transform-origin: center 50%;
}

.list-item:nth-child(6n + 3) {
  margin-right: 9.5rem;
}

.list-item:nth-child(6n + 4) {
  margin-left: 17rem;
}

/* Стили для promo */
.promo .content-container {
  display: flex;
}

.promo {
  margin-bottom: 7rem;
}

.promo-block {
  max-width: 38.4rem;
  margin-right: 2rem;
}

.promo-heading {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 400;
  text-align: left;
}

.promo-heading span {
  font-style: italic;
}

.promo-text {
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 6.4rem;
}

.promo-image {
  height: 100%;
  display: block;
  border-radius: 12rem 0;
  box-shadow: 2px 2px 9px 2px rgba(167, 167, 167, 0.6);
  transition: .3s;
}

.promo-image:nth-of-type(1) {
  margin: 6rem 4rem 0 0;
}

.promo-image:hover {
  filter: brightness(1.1) saturate(110%);
}

/* Стили для advantages */
.advantages {
  margin-bottom: 7rem;
}

.advantages-heading {
  margin-bottom: 5rem;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4%;
}

.advantages-item {
  display: flex;
  align-items: flex-start;
}

.advantages-item:hover .advantages-image {
  transform: scale(1.1);
}

.advantages-image {
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4.5rem;
  margin-right: 2rem;
  transition: .3s;
}

.advantages__block-heading {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: .8rem;
}

/* Стили для popular */
.popular {
  margin-bottom: 7rem;
}

.popular-heading {
  margin-bottom: 5rem;
}

.popular-slide-block {
  max-width: 38.7rem;
  margin-right: 2rem;
  padding-top: 2.6rem;
}

.popular-slide-heading {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 2rem;
}

.popular-slide-heading_price {
  margin-bottom: 6.5rem;
}

.popular-slide-text {
  margin-bottom: 2.4rem;
}

.popular-slide-button {
  padding: 3rem 10.7rem;
}

.carousel-inner {
  width: 100%;
  min-height: 50rem;
  margin: 0 auto;
}

.carousel-item {
  padding: 0 0 1.5rem 3rem;
}

.carousel-item img {
  width: 38.7rem !important;
  height: 43.8rem !important;
  position: absolute;
  top: .3rem;
  right: -1.5rem;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
  height: 10%;
  top: 44.5rem;
}

.carousel-control-next {
  right: 30.5rem;
}

.carousel-control-next-icon {
  background-image: url("icon/arrow-right.svg");
  width: 7rem;
}

.carousel-control-prev {
  left: 29.5rem;
}

.carousel-control-prev-icon {
  background-image: url("icon/arrow-left.svg");
  width: 7rem;
}

/* Стили для type */
.type {
  margin-bottom: 9rem;
}

.type-heading {
  margin-bottom: 5rem;
}

.type-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 44.2rem;
  column-gap: 4rem;
}

.type-item {
  border-radius: 10rem 0;
  box-shadow: 2px 2px 9px 2px rgba(167, 167, 167, 0.6);
}

.type-text {
  color: #ffffff;
  font-size: 1.8rem;
}

.type-link {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(174, 124, 120, 0.4);
  background-size: cover;
  border-radius: 10rem 0;
  padding: 2rem;
  box-sizing: border-box;
  transition: .5s ease-in-out;
}

.type-link:hover {
  background: rgba(174, 124, 120, 0.6);
}

.type-link:active {
  background: rgba(174, 124, 120, 0.8);
}

.type-item:nth-child(1) {
  background: url(../img/select-1.jpg) center/cover no-repeat;
}

.type-item:nth-child(2) {
  background: url(../img/select-2.jpg) center/cover no-repeat;
}

.type-item:nth-child(3) {
  background: url(../img/select-3.jpg) center/cover no-repeat;
}

.item-heading {
  color: #ffffff;
  font-size: 3.2rem;
  margin-bottom: 4rem;
  font-family: "Playfair Display", "Times New Roman", serif;
  letter-spacing: 0.02em;
}

/* Стили для sale */
.sale {
  margin-bottom: 7rem;
}

.sale-heading {
  margin-bottom: 5rem;
  font-size: 4rem;
  text-align: left;
}

.sale-block {
  display: flex;
  justify-content: space-between;
  background-color: #AE7C78;
  box-shadow: 2px 2px 9px 2px rgba(167, 167, 167, 0.6);
}

.sale-block__text {
  color: #ffffff;
  padding: 4rem 2.2rem 6.4rem 10.2rem;
}

.sale-text {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #ffffff;
  margin: 0;
  max-width: 38.7rem;
}

.sale-image {
  transition: .3s ease;
}

.sale-image:hover {
  filter: brightness(1.1) saturate(120%);
}
